/*CSS refente a barra de busca do site*/
.containerBarraBusca{
    height: auto;
    width: 400px;
    margin-top: 13px;
    float: right;
}
.campoBusca{ /*Container do input de busca e do icone da lupa*/
    width: 60%;
    float: left;
}
#portal-searchbox{
    width: 100%;
    display: table;
}
.inputBusca{ /* Conteiner do input de busca*/
    width: 85%;
    margin-top: auto;
}
.inputBusca input[type=text]{ /* Alteração das propriedades nativas do input*/
    height: 35px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 17px;
    outline: none;
    float: left;
    font-style: italic;
    -webkit-box-shadow: none;
    line-height: 3px;
    padding-left: 8px;
}
.inputBtn{ /* Conteiner do input image(icone lupa)*/
    width: 10%;
    float: right;
    margin-right: 3%;
}
.inputBtn input[type=image]{
    width: 30px;
    height: 30px;
}
.linha{ /* Linha branca que fica em baixo do input de busca e do input image*/
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -5px;
    border-radius: 2px;
    height: 2px;
    width: 100%;
}
::-moz-placeholder{ /* Firefox */
    color: rgba(255, 255, 255, 0.8)!important;
    font-size: 17px;
    font-style: italic;
}
::-webkit-input-placeholder { /* Chrome */
   color: rgba(255, 255, 255, 0.8)!important;
   font-size: 17px;
   font-style: italic;
}
.livesearch-results{
    border: none!important;
    outline: none!important;
    font-size: 14px;
    background-color: rgba(230, 230, 230, 0.95)!important;
}
.livesearch-results h4 a:hover{
    color: rgba(9, 154, 94, 1);
}
.livesearch-results h4{ /*Alinhar link no centro*/
    text-align: center;
}
.livesearch-results p{
    margin-bottom: 1px!important;
    padding: 0px 10px;
    font-size: 13px;
}
.livesearch-results:hover{ /* Cor de fundo da ul quando o mouse esta em cima */
    background-color: rgba(200, 193, 193, 0.95)!important;
}
.search-result:hover{ /* Cor de fundo da li quando o mouse esta em cima */
    background-color: rgba(227, 227, 227, 0.93)!important;
}
.linksRedesSociais{ /* Container dos icones das redes sociais*/
    margin: 4px 38px auto 20px;
    float: right;
    width: 18%;
}
.iconFacebook{
    height: 22px;
    width:  22px;
}
.iconTwitter{
    height: 27px;
    width: 27px;
    margin-left: 7px;
}
@media only screen and (max-width: 1000px){
    .conteudo{
        width: 62%;
        margin-right: -38px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 645px){
    .conteudo{
        width: 80%;
        margin: 10px auto auto auto;
    }
}
@media only screen and (max-width: 530px){
    .conteudo{
        width:  94%;
        margin: 20px auto -10px auto;
    }
    .linksRedesSociais{
        margin: 6px 20px auto 0px;
    }
    .campoBusca{
        width: 66%;
    }
    .iconFacebook{
        height: 19px;
        width:  19px;
    }
    .iconTwitter{
        height: 24px;
        width: 24px;
        margin-left: 4px;
    }
    .inputBusca{
        width: 83%;
    }
    .inputBusca input[type=text]{
        height: 30px;
        font-size: 14px;
    }
    ::-webkit-input-placeholder {
       font-size: 14px;
    }
    .inputBtn input[type=image] {
        width: 25px;
        height: 25px;
    }
    .livesearch-results{
        font-size: 12px;
    }
    .livesearch-results h4{ /*Alinhar link no centro*/
        font-size: 12px;
    }
    .livesearch-results p{
        font-size: 11px;
        padding-left: 5px;
    }
}
@media only screen and (max-width: 420px){
    .inputBtn{
        width:  22%;
    }
    .inputBusca{
        width: 70%;
    }
}
