th, td, pre, h1{
    text-align: center;
}
pre{
    font-size: 14px;
}
.linhaTituloFilme{
    height: 2px;
    background-color: silver;
}
table{
    border-color: silver;
    border-width: 2;
    line-height: 1.8;
    background: rgba(220,220,220,0.3)
}
.bordaLinha table tr td{
    border-color: silver;
    border-width: 2;
}
.bordaLinha table tr th{
    border-color: silver;
    border-width: 2;
}
